

html,
body {
    margin: 0;
    font-size: 100%;
    font-family: 'Dosis', sans-serif;
    background: #fff;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Dosis', sans-serif;
}












a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

p {
    font-size: 0.9em;
    color: #8c9398;
    line-height: 2em;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

/*--/header --*/

.container-fluid.gallery-lightbox.my-5 {
    padding-left: 5px;
}

.content-main-w3 {
    position: relative;
    background: #007cc0;
    padding: 3em 0;
}

a.navbar-brand {
    font-size: 2.5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

a.navbar-brand span {
    display: block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    margin-top: -10px;

}

li.nav-item {
    padding: 0 20px;
}

.logo-wthree i {
    color: #fff;
    text-shadow: none;
    font-size: .9em;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #fbb034;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fbb034;
    text-decoration: line-through;
}

/*-- //header --*/
/*--about--*/
h2.title-wthree{
      font-size:3em;
     text-transform: uppercase;
}
h3.tittle{

    
      font-size:2em;
}
.about-right h3.ttile {
    font-size: 1.4em;
    line-height: 1.3em;
}

h4.sub-tittle {
    margin: 1.2em 0 0 0;
    font-size: 15px;
    color: #007cc0;
    text-transform: uppercase;
    font-weight: 500;
}

ul.author li {
    list-style: none;
    margin: 0 2em 0 0em;
}

ul.author li img {
    border-radius: 50%;
    -weblit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #ddd;
}

ul.author li {
    color: #888;
    font-size: 0.8em;
    letter-spacing: 1px;
}

ul.author li span {
    display: block;
    font-weight: 600;
    color: #37393c;
    font-size: 1.3em;
}

.about-right {
    padding-left: 3em;
}
/*-- stats --*/

.stats_info p {
    font-size: 2.5em;
    letter-spacing: 1px;
    line-height: 2;
    color: #ec1c24;
    font-weight: 800;
}
.stats_info h4 {
    color: #4f4f50;
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
}
.stats_info i {
    font-size: 2.3em;
    color: #3f3f40;
    margin: 0;
    margin-top: 1.5em;
}
.stats_bottom_grid_left img {
	margin: 0 auto;
}
.stats_info {
	text-align: center;
	padding: 0;
	border-top: none;
	border-bottom: none;
}

.stats_info:nth-child(3) {
	border-right: 0px;
}

.stats_info:nth-child(2) {
	border-left: 0px;
	border-right: 0px;
}
/*--//stats--*/
/*--team--*/

/*********************** Demo - 16 *******************/

.box16 {
    text-align: center;
    color: #fff;
    position: relative
}

.box16 .box-content,
.box16:after {
    width: 100%;
    position: absolute;
    left: 0
}

.box16:after {
    content: "";
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .08) 69%, rgba(0, 0, 0, .76) 100%);
    top: 0;
    transition: all .5s ease 0s
}

.box16 .post,
.box16 .title-wthree {
    transform: translateY(145px);
    transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s
}

.box16:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .09) 11%, rgba(0, 0, 0, .12) 13%, rgba(0, 0, 0, .19) 20%, rgba(0, 0, 0, .29) 28%, rgba(0, 0, 0, .29) 29%, rgba(0, 0, 0, .42) 38%, rgba(0, 0, 0, .46) 43%, rgba(0, 0, 0, .53) 47%, rgba(0, 0, 0, .75) 69%, rgba(0, 0, 0, .87) 84%, rgba(0, 0, 0, .98) 99%, rgba(0, 0, 0, .94) 100%)
}

.box16 img {
    width: 100%;
    height: auto;
}

.box16 .box-content {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1
}

.box16 .title-wthree {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.box16 .post {
    display: block;
    padding: 8px 0;
    font-size: 15px
}

.box16 .social li a,
.box17 .icon li a {
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
}

.box16:hover .post,
.box16:hover .title-wthree {
    transform: translateY(0)
}

.box16 .social {
    list-style: none;
    padding: 0 0 5px;
    margin: 40px 0 25px;
    opacity: 0;
    position: relative;
    transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
    transition: all .6s cubic-bezier(0, 0, .58, 1) 0s
}

.box16:hover .social {
    opacity: 1;
    transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
}

.box16 .social:before {
    content: "";
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -23px;
    left: 0;
    right: 0
}

.box16 .social li {
    display: inline-block
}

.box16 .social li a {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 40px;
    background: #ffc107;
    margin-right: 10px;
    transition: all .3s ease 0s;
}

.box17 .icon li,
.box17 .icon li a {
    display: inline-block
}

.box16 .social li a:hover {
    background: #007cc0;
}

.box16 .social li:last-child a {
    margin-right: 0
}

@media only screen and (max-width:990px) {
    .box16 {
        margin-bottom: 30px
    }
}

/*--//team--*/
/*-- Pricing --*/
#plans {
    background: #fbb034;
}
.price-main-info .card-header h4 {
    color: #f7f7f7;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1em;
    padding-top: 2em;
}

.price-main-info .card-header h4 span {
    display: block;
    font-weight: 100;
}

.price-main-info .card-header {
    background: url(../images/price.html)no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 192px;
}

.price-main-info .card-body {
    background: #fff;
    padding: 4em 1em;
}

.pricing-card-title-wthree span {
    font-size: .7em;
    display: inline-block;
    color: #000;
    font-weight: 300;
}

.price-main-info small.text-muted {
    font-size: 0.5em;
}

ul.list-unstyled li {
    font-size: 22px;
    color: #7d7d7d;
    line-height: 2.5em;
}

.price-main-info h5.card-title-wthree {
    font-size: 3em;
    color: #1c1c1d;
    font-weight: 700;
}

.card-deck .card {
    padding: 0px;
}

.price-inner .log-in a {
    font-size: 0.9em;
}

.price-inner.card h4 {
    color: #a7aaad;
    font-size: 1.1em;
}

.price-main-info.card {
    border-radius: 0;
    border: none;
    background: none;
}
a.hover-2.btn {
    border: 2px solid #ffc107;
    color: #444;
    padding:0.4em 1.2em;
}
a.hover-2.btn:hover {
    background:#ffc107;
}
/*--//Pricing--*/
/*--/contact--*/

.main_grid_contact {
    background: #f7f7f7;
    padding: 2em 5em 3em;
}

.main_grid_contact label {
    color: #676b6d;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.main_grid_contact input[type="text"],
.main_grid_contact input[type="email"],
.main_grid_contact textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #fff;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #ebeeef;
    border-radius: 0px;
}

.main_grid_contact textarea {
    min-height: 80px;
    margin: 1em 0em;
    resize: none;
}

.main_grid_contact .input-group1 input[type="submit"] {
    outline: none;
    padding: 20px 0;
    font-size: 19px;
    color: #fff;
    background: #343a40;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px;
}

.main_grid_contact .input-group1 input[type="submit"]:hover {
    background: #007cc0;
}

.map {
    padding: 0;
}

.map iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.address-grid-w3ls i {
    font-size: 1.5em;
    color: #ffc107;
    background: #323435;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 2.5em;
}

.address-right h6 {
    font-size: 1.2em;
    color: #3f4142;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.address-right p,
.address-right p a {
    color: #7c848c;
}

.main_grid_contact h4 {
    font-size: 2em;
    color: #464646;
    text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
    text-transform: uppercase;
}
/*--//contact--*/
/*-- /footer --*/

footer {
    margin: 0 auto;
    width: 90%;
    border-top: 1px ridge rgba(8, 93, 140, 0.48);
}

.inner-page-footer {
    background: #007cc0;
    padding: 2em 0;
    width: 100%;
    border-top: 1px ridge rgba(8, 93, 140, 0.48);
}

.social_media_w3layouts {
    margin: 2em 0 2em 0;
}

.social_media_w3layouts ul li {
    margin: 0 0.5em;
    font-size: 1.2em;
}

.agileinfo_share {
    margin-right: 1em !important;
    color: #fff;
}

ul.social-icons li {
    list-style: none;
    display: inline-block;
}

ul.social-icons li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 34px;
    background: transparent;
    border: 2px solid #fff;
    text-align: center;
}

ul.social-icons li a:hover {
      color: #ffc107;
}
p.copy-right-w3ls {
    color: #fff;
    letter-spacing: 2px;
}

p.copy-right-w3ls a {
    color: #ffc107;
    text-decoration: none;
}

p.copy-right-w3ls a:hover {
    color: #fff;
}

/*-- //footer --*/

/*-- to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background:#104f71 url(../images/move_up.png) no-repeat 11px 11px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //to-top --*/
@media(max-width:1280px){
	.main_grid_contact {
        background: #f7f7f7;
        padding: 6em 4em;
    }
    h3.tittle {
        font-size: 1.6em;
    }
}
@media(max-width:991px){
	ul.navbar-nav.mx-auto {
        text-align: center;
        margin-top: 1em;
    }
    .content-main-w3 {
        padding: 2em 0;
    }
    .about-right {
        padding-left: 1em;
        margin-top: 2em;
    }
    .box16 .social li a {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 40px;
        margin-right: 0px;
        transition: all .3s ease 0s;
    }
    .team-gd {
        margin-top: 1em;
    }
    .box16 .post {
        display: block;
        padding: 0px 0;
        font-size: 15px;
    }
    .box16 .title-wthree {
        font-size: 17px;
        margin: 0px 0 5px;
    }
    .box16 .box-content {
        padding: 0px 5px;
        margin-bottom: 49px;
        bottom: 0;
        z-index: 1;
    }
    .price-main-info .card-body {
        padding: 2em 0em;
        margin-top:1em;
    }
    .testimonials-gd {
        float: left;
        width: 50%;
    }
    .main_grid_contact {
        padding: 4em 3em;
    }
}
@media(max-width:900px){
	h2.title-wthree {
      font-size: 2.4em;
    }
}
@media(max-width:800px){
	.box16 .title-wthree {
        font-size: 15px;
        margin: 0px 0 5px;
    }
}
@media(max-width:767px){
	.inner-page-footer {
        padding: 1em 0;
    }
    .address-right.text-left {
        margin-top: 1em;
    }
    .address-info {
        margin-top: 1em;
    }
    .price-main-info:nth-child(2) {
        margin: 1em 0;
    }
    .main_grid_contact {
        padding: 4em 2em;
    }
}
@media(max-width:736px){
	h2.title-wthree {
      font-size: 2.2em;
    }
    .address-right.text-left {
        margin-top: 1em;
        text-align: center!important;
    }
}
@media(max-width:667px){
   .main_grid_contact h4 {
    font-size: 1.6em;
    }
}
@media(max-width:640px){
	h2.title-wthree {
        font-size:2em;
    }
    .inner-page-footer {
        padding: 1em 2em;
    }
   
}
@media(max-width:600px){
	.address-right h6 {
       font-size: 1em;
    }
     .content-main-w3 {
        padding: 1.5em 0;
    }
}
@media(max-width:568px){
	.main_grid_contact label {
        font-size: 1em;
    }
    a.navbar-brand span {
        font-size: 12px;
        letter-spacing: 3px;
        margin-top: -10px;
    }
}
@media(max-width:480px){
	.testimonials-gd {
        float: left;
        width: 100%;
    }
    .main_grid_contact h4 {
    font-size: 1.4em;
    }
}
@media(max-width:440px){
	h2.title-wthree {
        font-size: 1.8em;
    }
}
@media(max-width:414px){
	
}
@media(max-width:384px){
	
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	
}
/*--//responsive--*/
.container.nav-open{
    margin-top: 0em;
   
    transition: all 0.3s ease;
  }
  .container {
    margin: 0 auto;
    -moz-transition: all 0.3s ease 0.6s;
    -o-transition: all 0.3s ease 0.6s;
    -webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0.6s;
    -webkit-transition: all 0.3s ease 0.6s;
    transition: all 0.3s ease 0.6s;
    position: relative;
    -o-transition-delay: 0.1s;
    -moz-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
}
.container.nav-open .header-right nav {
    z-index: 1;
}
.menu-icon {
position: relative;
display: block;
width: 2.5em;
height: 2.5em;
cursor: pointer;
}
.menu-icon:hover span {
background:#ef434a;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
background:#ef434a;
}

.menu-icon > span {
position: absolute;
top: 50%;
display: block;
width: 100%;
height: 0.25em;
background-color:#FFFFFF;
border-radius: 3px;
-webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
-webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
transition: background 0.25s ease, -webkit-transform 0.3s;
transition: transform 0.3s, background 0.25s ease;
transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
content: "";
right: 0em;
position: absolute;
width: 100%;
height: 100%;
background-color:#FFFFFF;
border-radius: 3px;
-webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
-webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
transition: background 0.25s ease, -webkit-transform 0.3s;
transition: transform 0.3s, background 0.25s ease;
transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
-webkit-transform: translateY(-0.75em);
transform: translateY(-0.75em);
-moz-transform: translateY(-0.75em);
-o-transform: translateY(-0.75em);
-ms-transform: translateY(-0.75em);
}

.menu-icon > span:after {
-webkit-transform: translateY(0.75em);
transform: translateY(0.75em);
-moz-transform: translateY(0.75em);
-o-transform: translateY(0.75em);
-ms-transform: translateY(0.75em);
}

/* OPENED */
.menu-icon.open {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
}

.menu-icon.open > span:before {
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
}

.menu-icon.open > span:after {
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
}
 

    
    .header {
padding: 2.95em 0 0em;

}

.header-right {
float: right;
margin-top: -63px;
margin-left: 24px;
}

.header-right nav {
position: absolute;
top: 3%;
left: 28%;
color: #999;
z-index: -1;
}
.header-right nav ul li.animate {
top: 0;
}
.header-right nav ul li {
display: inline-block;
text-align: center;
padding: 0.5em 2em;
cursor: pointer;
position: relative;
top: -8em;
float: left;
border-right: 1px solid rgba(255, 255, 255, 0.31);
}
.header-right nav ul li:nth-child(1) {
-moz-transition: top 0.3s ease 0.15s;
-o-transition: top 0.3s ease 0.15s;
-webkit-transition: top 0.3s ease;
-webkit-transition-delay: 0.15s;
-webkit-transition: top 0.3s ease 0.15s;
transition: top 0.3s ease 0.15s;
}
.header-right nav ul li:nth-child(2) {
-moz-transition: top 0.3s ease 0.2s;
-o-transition: top 0.3s ease 0.2s;
-webkit-transition: top 0.3s ease;
-webkit-transition-delay: 0.2s;
-webkit-transition: top 0.3s ease 0.2s;
transition: top 0.3s ease 0.2s;
}
.header-right nav ul li:nth-child(3) {
-moz-transition: top 0.3s ease 0.25s;
-o-transition: top 0.3s ease 0.25s;
-webkit-transition: top 0.3s ease;
-webkit-transition-delay: 0.25s;
-webkit-transition: top 0.3s ease 0.25s;
transition: top 0.3s ease 0.25s;
}
.header-right nav ul li:nth-child(4) {
-moz-transition: top 0.3s ease 0.3s;
-o-transition: top 0.3s ease 0.3s;
-webkit-transition: top 0.3s ease;
-webkit-transition-delay: 0.3s;
-webkit-transition: top 0.3s ease 0.3s;
transition: top 0.3s ease 0.3s;
}
.header-right nav ul li:nth-child(5) {
-moz-transition: top 0.3s ease 0.35s;
-o-transition: top 0.3s ease 0.35s;
-webkit-transition: top 0.3s ease;
-webkit-transition-delay: 0.35s;
-webkit-transition: top 0.3s ease 0.35s;
transition: top 0.3s ease 0.35s;
border-right:none!important;
}

.header-right nav ul li.active i {
background:#454445;
text-shadow: 0px 0px #525252, 1px 1px #525252, 2px 2px #525252, 3px 3px #525252, 4px 4px #525252, 5px 5px #525252, 6px 6px #525252, 7px 7px #525252, 8px 8px #525252, 9px 9px #525252, 10px 10px #525252, 11px 11px #525252, 12px 12px #525252, 13px 13px #525252, 14px 14px #525252, 15px 15px #525252, 16px 16px #525252, 17px 17px #525252, 18px 18px #525252, 19px 19px #525252, 20px 20px #525252, 21px 21px #525252, 22px 22px #525252, 23px 23px #525252, 24px 24px #525252, 25px 25px #525252, 26px 26px #525252, 27px 27px #525252, 28px 28px #525252, 29px 29px #525252, 30px 30px #525252, 31px 31px #525252, 32px 32px #525252, 33px 33px #525252, 34px 34px #525252, 35px 35px #525252, 36px 36px #525252, 37px 37px #525252, 38px 38px #525252, 39px 39px #525252, 40px 40px #525252, 41px 41px #525252, 42px 42px #525252, 43px 43px #525252, 44px 44px #525252, 45px 45px #525252, 46px 46px #525252, 47px 47px #525252, 48px 48px #525252, 49px 49px #525252, 50px 50px #525252, 51px 51px #525252, 52px 52px #525252, 53px 53px #525252, 54px 54px #525252, 55px 55px #525252, 56px 56px #525252, 57px 57px #525252, 58px 58px #525252, 59px 59px #525252, 60px 60px #525252;
}
.header-right nav ul li.active a{
color:#ef434a;
}
.header-right nav ul li a:hover {
color: #ef434a;
}
.header-right nav ul li a{
color: #ffffff;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}
.header-right nav ul li a span {
display: block;
font-size: 1.1em;
}

@media(max-width:1080px){
.header-right nav {
    left: 18%;
    top: 4%;
}
.header-right nav ul li a span {
    font-size: 16px;
}
}
@media(max-width:991px){
.header-right nav ul li {
    padding: 0.5em 1.3em; 
}
.header-right {
    margin-top: -53px;
    margin-left: 19px;
} 




}
@media(max-width:667px){
.header-right nav ul li a span {
    font-size: 14px;
}
.header-right nav {
    left: 16%;
}
}
@media(max-width:600px){
.header-right nav ul li {
    padding: 0.5em 1.1em;
}
.header-right nav {
    left: 15%;
}
}

@media(max-width:568px){
.header-right nav {
    left: 12.5%;
}
}
@media(max-width:480px){
    .header-right {
    margin-top: -35px;
    margin-left: 7px;
    }
    .container.nav-open .header-right nav {
    width: 71%;
    left: 14.5%;
    background: rgba(0, 0, 0, 0.78);
    padding: 8px 0;
} 
    
    .header-right nav ul li {
    display: block;
    top: -8em;
    float: none;
    border-right: none;
}
.header-right nav {
    top: 2.7%;
}
.header-right nav ul li a:hover {
    color: #f76066;
}
.header-right nav ul li.active a{
    color:#f76066;
}
}
@media(max-width:320px){

.container.nav-open .header-right nav {
    width: 56%;
    left: 21.5%;
    }

}



@media  only screen and (min-width:190px) and (max-width:769px){
.desktop-nav{
    display:none !important;

}
 }
 
@media  only screen and (min-width:770px) {
    .mobile-nav{
        display:none !important;
    
    }
     }

     /* choose file */
     /* .hide {
        display: none;
        overflow: hidden;
      } */
      .hide input[type=file] {
        overflow: hidden;
        z-index: -1;
        
      }
      /* feedback */
      .feedback{
        border: 1px solid #ddd;
        padding: 27px;
        overflow-y: scroll;
        height:416px;
      }
      